html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}


table, th, td {
  border: 1px solid black;

}

th, td {
  padding: 3px;
  width: 150px;
}
img{
  float: right;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.haiku{
  width: 50%;
  justify-content: center;
  text-align:center;
}

.soft{
  background-color: aqua;
}

.math {
  background-color: blueviolet;
}

.data {
  background-color: beige;
}

.comp {
  background-color: blanchedalmond;
}

.web {
  background-color:chartreuse;
}

